.Data {
    margin: 0 0 1em 0;
    list-style-type: none;
    padding: 0;
  }
  .outer{border-radius: 20px;
    border-style: groove;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 2%;}
  .body{
    background: #424242 !important
  }
  .articles{
    padding-left: 1.5% !important;
    margin: 1% 5%;
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    background: #696969 !important;
    color: white;
    margin-left: auto;
    width: 90%;
    margin-left: auto;  }
  .Data li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin-bottom:.7em;
    
    padding: .3em 0;
    height: 5em;
    border-radius: 7px;
  }
  .Data li:hover {
    color: pink;
    background-color: #DDD;
    left: .1em;
  }
  .Data li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .Data li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }

  .tab-background{
    background-color: red !important;
  }

  mat-tab{
    width: 33% !important;
  }