<app-navbar></app-navbar>
<div *ngIf="!showSignUp">
<form [formGroup]="profileForm">
    <table>
        Login
    <tr>
        <td>Username:</td>
        <td><input type="text" formControlName="UserName" #username></td>
    </tr>
    <tr> 
        <td>Password:</td>
        <td><input type="password" formControlName="Password" #password></td>
    </tr>
    <tr>
        <input type="submit" value="Login" 
        (click)="onClickSubmit(username.value,  password.value);redirectMethod()">
    </tr>
    </table>
    <button pButton (click)="handleDisplaySignup()">To SignUp</button>
</form>
</div>
<div *ngIf="showSignUp">
<app-profile-editor (submit)="handleDisplaySignup()"></app-profile-editor>
<button pButton (click)="handleDisplaySignup()">Back</button>
</div>