<form #SignupPerson="ngForm" (ngSubmit)="updateInfo(SignupPerson.value)">
<app-navbar></app-navbar>
<form [formGroup]="profileForm">    
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="String" name="Username" maxlength="20" ngModel required></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="Password" minlength="6" ngModel required ></td>
        </tr>
        <tr>
            <td>Firstname: </td>
            <td><input type="string" name="firstname"ngModel required ></td>
        </tr>
        <tr>
            <td>Lastname: </td>
            <td><input type="string" name="lastname"ngModel required ></td>
        </tr>
        <tr>
            <td>Phone Number: </td>
            <td><input type="String" name="Phonenumber" maxlength="10" ngModel required number minlength="10" maxlength="15"></td>
        </tr>
        <tr>
            <td>Email Address: </td>
            <td><input type="email" name="Email" maxlength="30" ngModel required email></td>
        </tr>
        <tr><input type="submit" value="Signup" [disabled]="!SignupPerson.valid"></tr>
    </table>
</form>
