<div *ngIf="!showLogIn">
<app-navbar></app-navbar>
<div class="card cardbody">
    <article class="card-body">
    <a class="float-right btn btn-outline-primary loginredirectbutton" (click)="showLogInPage()">Login</a>
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <form #SignupPerson="ngForm" (ngSubmit)="updateInfo(SignupPerson.value)">
        <div class="form-group">
            <label>Username</label>
            <input type="String" class="form-control" placeholder="Username" name="Username"  (blur)="checkblankusername(SignupPerson.value)"  ngModel required>
            <div *ngIf="showUsernameError" class="error">
                <label>Username cannot be empty</label>
            </div>
            <div *ngIf="showUsernameError2" class="error">
                    <label>Username already exists creation of account will be ignored</label>
            </div>
                
        </div> <!-- form-group// -->
        <div class="form-group">
            <label>Password</label>
            <input type="password" input class="form-control" placeholder="******" name="Password" minlength="6" (blur)="checkPLength(SignupPerson.value)" ngModel required>
            <div *ngIf="showPasswordError"class="error">
                <label>Password must be 6 characters or more</label>
            </div>
        </div> <!-- form-group// -->
        <div class = "form-group">
        <label>Firstname: </label>
            <input type="string" input class="form-control" placeholder="Firstname"name="firstname"ngModel (blur)="checkblankfirstname(SignupPerson.value)"required pattern="^[a-zA-Z0-9]+$">
            <div *ngIf="showFnameError"class="error">
                <td >Firstname cannot be empty</td>
            </div>
        </div>
        <div class = "form-group">
        <label>Lastname:</label> 
        <input type="string" name="lastname" input class="form-control" placeholder="Lastname"ngModel (blur)="checkblanklastname(SignupPerson.value)"pattern="^[a-zA-Z0-9]+$" required >
        <div *ngIf="showLnameError"class="error">
            <td >Lastname cannot be empty</td>
        </div>
        </div>
        <div class = "form-group">
        <td>Phone Number: </td>
        <input type="text" name="Phonenumber"input class="form-control" placeholder="5555555555" ngModel (blur)="checkphone(SignupPerson.value)"pattern="^[0-9]+$" required number minlength="10" maxlength="15">
        <div *ngIf="showPhoneError"class="error">
            <td>Phonenumber cannot be empty</td>
        </div>
        <div *ngIf="showPhoneError2"class="error">
            <td>Phonenumber must be at least 10 numbers long</td>
        </div>
        </div>
        <div class = "form-group">
        <label>Email Address: </label>
        <input type="email" input class="form-control" placeholder="Email@company.com"name="Email" maxlength="30" ngModel (blur)="checkblankemail(SignupPerson.value)"required email>
        <div *ngIf="showEmailError"class="error">
            <td>Email cannot be empty</td>
        </div>
        <div *ngIf="showEmailError2"class="error">
            <td>Please input proper email</td>
        </div> 
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block signupbutton" value="Signup" [disabled]="!SignupPerson.valid || showUsernameError2" > Signup  </button>
        </div> <!-- form-group// -->                                                           
    </form>
    </article>
</div> 
</div>
<app-login-component *ngIf="showLogIn"></app-login-component>

<!-- card.// -->