<app-navbar></app-navbar>
<div class="container userinfo" style="background: #424242;">
    <div *ngIf="showUserInfo" style="color: white;">
        <div class="headeruser">
            <h3>User Information</h3>
        </div>
        <table>
            <tr>
                <td>Name: </td>
                <td>{{personSpec.firstName}} {{personSpec.lastName}}</td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td>{{personSpec.phoneNumber}}</td>
            </tr>
            <tr>
                <td>Email Address: </td>
                <td>{{personSpec.email}}</td>
            </tr>
            <tr>
                <button class="btn btn-primary clrBtn" (click)="showUpdateComponent()">Update Info</button>
            </tr>
        </table>

    </div>
    <div *ngIf="showUpdate" style="padding-top: 1%;color: white;">
        <h4>Update Information</h4>
        <form #updatePerson="ngForm" (ngSubmit)="updateInfo(updatePerson.value)">
            <table>
                <tr>
                    <td>Email Address: </td>
                    <td><input type="email" name="newEmail" maxlength="30" ngModel required email></td>
                </tr>
                <tr>
                    <td>Phone Number: </td>
                    <td><input type="text" name="newPhone" maxlength="10" ngModel required number minlength="10"
                            maxlength="15"></td>
                </tr>
                <tr><input type="submit" class="btn btn-primary clrBtn" value="Save Information" [disabled]="!updatePerson.valid"></tr>
            </table>
        </form>
    </div>

</div>
<app-userarticle></app-userarticle>
<app-editor-handle-article *ngIf="showEditorPanel"></app-editor-handle-article>