<div class="container userinfo">
    <div class="headeruser">
        <h3>List of User's Articles</h3>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Date Created</th>
                <th>Category</th>
                <th>Article's Status</th>
            </tr>
            <tr *ngFor="let article of userArticles">
                <td>{{article.title}}</td>
                <td>{{article.date}}</td>
                <td>{{article.category}}</td>
                <td>{{article.articleStatus}}</td>
            </tr>
        </table>
    </div>



    <button (click)="showCreateComponent()">Create New Article</button>

    <div>
        <div *ngIf="showCreate">
            <h3>Create New Article</h3>
            <form #newArticle="ngForm" (ngSubmit)="createArticle(newArticle.value)">
                <table>
                    <tr>
                        <td>Category</td>
                        <td>
                            <select name="category" ngModel>
                                <option value="Science" selected>Science</option>
                                <option value="Technology">Technology</option>
                                <option value="Mathematics">Mathematics</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" name="newTitle" maxlength="30" ngModel></td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td><input type="text" name="newContent" ngModel></td>
                    </tr>
                    <tr><input type="submit" value="Submit Article" [disabled]="!newArticle.valid"></tr>
                </table>
            </form>
        </div>
    </div>
</div>